* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

.menu {
  display: block;
  padding: 10px;
  margin: auto;
}

.eaq {
  display: inline-block;
  margin: 0px 50% 0px 0px;
}

.anatel {
  display: inline-block;
  float: right;
}

.segundo-cabecario {
  background-color: #003f5f;
  display: flex;
  padding-left: 100px;
}

.segundo-cabecario > ul {
  color: white;
  background: #003f5f;
  font: 15px arial, sans-serif;
  text-shadow: none;
  display: flex;
}

.segundo-cabecario > ul > li {
  padding: 18px;
  font-size: 13px;
}

.segundo-cabecario > ul > li:hover {
  background-color: #002538;
  cursor: pointer;
}

.segundo-cabecario > ul > li > a {
  color: white;
  text-decoration: none;
}
